Package: com.tko-cuber.ghost
Name: Ghost
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: A simple tweak to remove various elements of SpringBoard. Also my first tweak! :)
Maintainer: TKO_Cuber
Author: TKO_Cuber
Section: Tweaks
